<mat-form-field class="full-width">
  <mat-label>{{label}}</mat-label>
  <input matInput [type]="passwordType" [placeholder]="placeholder"
         [formControl]="control">
  <mat-icon matSuffix (click)="togglePasswordVisibility()">
    {{ passwordVisible ? 'visibility_off' : 'visibility' }}
  </mat-icon>
  <ng-container *ngFor="let message of validationMessageKeyMap | keyvalue">
    <mat-error *ngIf="control.hasError(message.key)">
        {{ message.value }}
    </mat-error>
  </ng-container>
</mat-form-field>
