<div class="container">
  <mat-card>
    <mat-card-title>Add Customer</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput />
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput />
        </mat-form-field>
        <button mat-raised-button color="primary">Add Customer</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
