/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

table {
  width: 100%;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

.mat-header-cell {
  background: #f6d8f6;
  font-size: 16px;
  font-weight: 900;
}

.mat-cell {
  border-left: 1px solid #f6d8f6;
  border-bottom: 1px solid #f6d8f6;
  font-size: 14px;
  padding-left: 10px!important;
}

.mat-header-cell {
  justify-content: center;
  padding-left: 10px!important;
}

.mat-cell:first-child {
  /* row border */
  border-left: 1px solid #f6d8f6;
  padding: 0;
}

.mat-cell:last-child {
  /* row border */
  border-right: 1px solid #f6d8f6;
  padding: 0;
}


ngx-intl-tel-input input {
  height: 44px;
  margin-bottom: 20px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #c7cace;
  border-radius: 4px;
  font-size: 18px;
  width: 100%;
}

ngx-intl-tel-input div{
  width: 100%;
}

ngx-intl-tel-input.ng-invalid.ng-touched input {
  border: 1px solid #c0392b;
}

ngx-intl-tel-input input:hover {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.24);
}

ngx-intl-tel-input input:focus {
  outline: none !important;
  border-color: #3498db;
  box-shadow: 0 0 0 0 #000;
}

ngx-intl-tel-input input::-webkit-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input:-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::-ms-input-placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input::placeholder {
  color: #bac2c7;
}

ngx-intl-tel-input input[disabled] {
  background-color: #e5eaf1;
}
